.experience-box-container{
    display: flex;
    width: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.experience-image{
    width: 20%;
}

.experience-box-text{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: aqua;

}